libraries/
shared/
*.bak
*.gnumeric

gall
gitlist
heltec_demo/
*.zip
*~
.et-al/logs/
ASCIITable/
Blink/
BlinkWithoutDelay/
FFat_ESP32/
*.replaced
vortex/
cons
esp32WS2811/
octoid/cmake-build-debug/
octoid/.idea
WiFiTelnetToSerial/
*.bin
